.enterMenuButton {
    -fx-pref-width: 300px;
    -fx-pref-height: 190px;
}

.enterMenuButton:hover {
    -fx-cursor: hand;
    -fx-pref-width: 320px;
}

.container1 {
    -fx-padding: 200px 0 0 0;
    -fx-alignment: CENTER;
    -fx-spacing: 600px;
}

.registerContainer {
    -fx-background-radius: 8px;
    -fx-padding: 5px;
    -fx-spacing: 5px;
}

.registerFieldContainer {
    -fx-background-color: #FFFFFF;
    -fx-pref-width: 500px;
    -fx-padding: 7px 10px;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-radius: 8px;
    -fx-opacity: 0.8;
    -fx-spacing: 10px;
}

.registerFieldContainer:hover {
    -fx-opacity: 1;
    -fx-cursor: hand;
}

.subRegisterFieldContainer {
    -fx-font-size: 15px;
    -fx-spacing: 10px;
    -fx-font-weight: normal;
    -fx-alignment: CENTER;
}

.textField1 {
    -fx-pref-width: 400px;
    -fx-font-weight: normal;
}

.registerLabel {
    -fx-pref-width: 100px;
}

.listView {
    -fx-pref-width: 300px;
    -fx-font-size: 15px;
    -fx-spacing: 10px;
    -fx-font-weight: normal;
    -fx-pref-height: 200px;
}

.textField2 {
    -fx-pref-width: 150px;
    -fx-font-weight: normal;
}

.radioButton {
    -fx-font-size: 15px;
}

.sloganLabel {
    -fx-pref-width: 150px;
}

.famousSlogan {
    -fx-pref-width: 300px;
    -fx-font-size: 15px;
    -fx-spacing: 10px;
    -fx-font-weight: normal;
    -fx-pref-height: 200px;
}

.textField3 {
    -fx-pref-width: 300px;
    -fx-font-weight: normal;
}

.submitButton {
    -fx-pref-width: 230px;
    -fx-background-color: #2f5b2f;
    -fx-text-fill: white;
}

.clearButton {
    -fx-pref-width: 230px;
    -fx-background-color: #980d0d;
    -fx-text-fill: white;
}

.errorLabel {
    -fx-padding: 5px;
    -fx-pref-width: 600px;
    -fx-background-radius: 5px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(231, 227, 166);
    -fx-text-fill: #776605;
}

.textField4 {
    -fx-pref-width: 450px;
}

#captcha {
    -fx-pref-width: 300px;
    -fx-pref-height: 100px;
}

#reset {
    -fx-pref-width: 27px;
    -fx-pref-height: 27px;
}

.backToFirstPage {
    -fx-pref-width: 200px;
    -fx-pref-height: 200px;
    -fx-background-radius: 100px;
    -fx-font-family: "cursive";
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #dab016;
    -fx-translate-y: -430px;
    -fx-translate-x: -540px;
    -fx-border-style: none;
}

.backToFirstPage:hover {
    -fx-background-color: #be9a0c;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

#newGameContainer {
    -fx-pref-width: 330px;
    -fx-pref-height: 400px;
    -fx-spacing: 10px;
    -fx-translate-y: -50px;
    -fx-translate-x: 1000px;
}

#allUsers {
    -fx-pref-height: 200px;
    -fx-translate-y: 30px;
}

#start {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #774f2a;
    -fx-translate-y: 30px;
    -fx-text-fill: #fff;
}

#enterProfile {
    -fx-translate-y: -125px;
    -fx-translate-x: 100px;
    -fx-pref-width: 160px;
    -fx-pref-height: 160px;
}

#enterProfile:hover {
    -fx-cursor: hand;
}

.profileInfo {
    -fx-pref-width: 480px;
    -fx-pref-height: 80px;
    -fx-text-fill: #413b2d;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Narrow";
    -fx-padding: 0 40px;
}

.changeInfo {
    -fx-padding: 0 60px;
    -fx-translate-x: -40px;
    -fx-pref-width: 600px;
    -fx-pref-height: 80px;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-family: "Arial Narrow";
    -fx-spacing: 5px;
}

.changeInfo:hover {
    -fx-cursor: hand;
}

#avatar {
    -fx-pref-width: 180px;
    -fx-pref-height: 150px;
    -fx-padding: 30px;
}

#changeAvatar {
    -fx-pref-width: 800px;
    -fx-pref-height: 150px;
    -fx-padding: 30px;
    -fx-spacing: 15px;
    -fx-translate-x: -20px;
}

.avatarImg {
    -fx-pref-height: 90px;
    -fx-pref-width: 90px;
}

#changePassword {
    -fx-pref-height: 250px;
    -fx-pref-width: 550px;
}

.shopIcon {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}


.shopIcon:hover {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}

.shopBtn {
    -fx-pref-width: 300px;
    -fx-pref-height: 50px;
    -fx-background-color: #483c2e;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: "Arial Narrow";
}